<div id="contenido_inicio">
  <div id="banner" class="animated fadeIn align-items-center row">
    <div id="banner_mensaje" class="col-6 text-center">
      <h1>Disfruta de los mejores consejos y la información que te interesa</h1>
    </div>
    <div id="banner_imagen" class="col-6">
      <img src="/assets/img/shaking_hands_3.jpg" height="100%" width="100%">
    </div>
  </div>
  <div id="secciones_inicio" class="row animated fadeIn">
    <div class="col col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col col-8">
      <app-contenido></app-contenido>
    </div>
    <div class="col col-2">

    </div>
  </div>
</div>
