<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
      <nav></nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust contenido_perfil d-flex justify-content-center">
          <!-- Show user data when logged in -->
          <div></div>
          <div class="row" *ngIf="authService.userData as user">
            <div class="pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">User Profile</h1>
            </div>
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/img/dummy-user.jpg'}}"
                  alt="{{user.displayName}}" height="100px" width="100px">
                <div class="media-body">
                  <h1>Hola: <strong>{{user.displayName}}</strong></h1>
                  <!-- <p>User ID: <strong>{{user.uid}}</strong></p> -->
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email verificado: <strong>{{(user.emailVerified) ? "verificado" : "sin verificar"}}</strong></p>
                </div>
              </div>
            </div>
            <div>
              <a routerLink="ajustes-perfil">Ajustes del perfil</a>
            </div>
            <div class="row justify-content-center">
              <div id="faltanCosasBoton" class="col col-6">
                <a id="botonContacto" class="btn btn-warning rounded-pill align-self-center" (click)="authService.getDocumentos()">Documentos</a>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </main>
    </div>
</div>
  