<div id="mensajeContactoDiv" class="row item justify-content-center">
  <section id="mensajeContactoSection" class="col-6">
    <h1 class="text-center">¿Qué es Uniforo?</h1>
    <p>Uniforo es un proyecto de sitio web para que los alumnos universitarios (o aspirantes a serlo) puedan consultar de forma
      rápida, cómoda y efectiva información que viene bien tener en cuenta de cara a tomar decisiones que pueden ahorrar mucho tiempo y dinero,
      como es la selección de una carrera, las dudas al escoger asignaturas, consejos sobre profesores...</p>

    <p>Seguramente conocerás el caso de alguien que podría haberse ahorrado unos años de repetir asignaturas (y el correspondiente dinero de las matrículas) 
      de haber sabido con anterioridad qué profesor es más indicado o le encaja mejor.
    </p>

    <p>Probablemente también sepas de quien se arrepintió de haber escogido una asignatura porque no era lo que se esperaba... o algún caso de estudiante que 
      necesitaba conocer opiniones y vivencias de distintas carreras universitarias a la hora de escoger.
    </p>

    <p>Esta página te ayudará a tomar la decisión más correcta para ti. Por eso, si tienes alguna duda, sugerencia, opinión... o lo que sea, escríbenos sin miedo
      en el formulario de abajo y el admin procurará responderte lo antes posible ;)
    </p>
    <!-- <p>Uniforo es una web en la que encontrarás la información que te ayudará a decidir 
      qué asignatura escoger, sus contenidos, qué profesores las imparten, sus valoraciones... e incluso qué carrera escoger si aún no empezaste</p> -->
  </section>
</div>
<div id="formularioDiv" class="row justify-content-center">
  <div role="main" class="form-all col-auto" style="margin:0 auto;">
    <ul class="form-section page-section">
      <li id="cid_9" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-large">
          <div class="header-text httal htvam">
            <h2 id="header_9" class="form-header" data-component="header">Contacta</h2>
            <div id="subHeader_9" class="form-subHeader">Rellena los siguientes datos para contactar con el administrador</div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_8"><label
          class="form-label form-label-top form-label-auto" id="label_8" for="input_8">Nombre completo<span
            class="form-required">*</span> </label>
        <div id="cid_8" class="form-input-wide jf-required"> <input type="text" id="input_8" name="q8_fullName"
            data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="25" value=""
            placeholder=" " data-component="textbox" aria-labelledby="label_8" required=""> </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_7"><label
          class="form-label form-label-top form-label-auto" id="label_7" for="input_7">Correo<span
            class="form-required">*</span> </label>
        <div id="cid_7" class="form-input-wide jf-required"> <input type="email" id="input_7" name="q7_email"
            class="form-textbox validate[required, Email]" data-defaultvalue="" size="25" value="" placeholder=" "
            data-component="email" aria-labelledby="label_7" required=""> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea" id="id_4"><label
          class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Mensaje<span
            class="form-required">*</span> </label>
        <div id="cid_4" class="form-input-wide jf-required"> <textarea id="input_4"
            class="form-textarea validate[required]" name="q4_message4" cols="28" rows="6" data-component="textarea"
            required="" aria-labelledby="label_4"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide position-relative">
          <div data-align="center" class="">
            <button id="input_2" type="submit" class="btn btn-success">Enviar</button>
          </div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value=""></li>
    </ul>
  </div>
</div>