<div id="divLogin" class="row d-flex justify-content-center animated fadeIn">
    <div class="col-lg-8 col-xl-7">
      <div class="container justify-content-center g-3">
        <div class="text-center">
          <h3>Inicia Sesión</h3>
        </div>
        <div id="divFormLogin" class="card">
          <!-- Email input -->
          <div class="row mb-4 mt-4 mx-4">
            <div class="col justify-content-center">
              <label id="emailLabel" class="form-label" for="emailInput">Email address</label>
              <input type="text" class="form-control" placeholder="Username" #userName required>
            </div>
          </div>
  
          <!-- Password input -->
          <div class="row mb-4 mt-4 mx-4">
            <div class="col justify-content-center">
              <label id="passwordLabel" class="form-label" for="passwordInput">Password</label>
              <input type="password" class="form-control" placeholder="Password" #userPassword required>
            </div>
          </div>
  
          <!-- Submit -->
          <div id="divSubmit" class="row mb-4">
            <div class="col d-flex justify-content-center">
              <input id="submitInput" type="button" class="btn btn-primary mb-4 mt-4 mx-4" value="Iniciar Sesión"
                (click)="authService.SignIn(userName.value, userPassword.value)"/>
            </div>
          </div>
  
          <!-- Calling SignIn Api from AuthService -->
          <!-- <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Iniciar Sesión" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div> -->
          <div class="formGroup text-center">
            <span class="or"><span class="orInner">Or</span></span>
          </div>
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="formGroup text-center">
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Log in with Google
            </button>
          </div>
          <div class="forgotPassword text-center">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
          <div class="redirectToLogin text-center">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
          </div>
        </div>
      </div>
    </div>
</div>
  