<div class="animated fadeIn">
    <div id="divTituloBuscar" class="d-flex justify-content-center">
        <h1>Búsqueda</h1>
    </div>
    <!-- <div id="divSelectorUni" class="d-flex justify-content-center">
        <div>
            <label id="labelSelectUnis" for="selectUnis">Selecciona universidad</label>
            <select id="selectUnis" class="form-select" aria-label="---">
                <option value=""></option>
                <option *ngFor="let uni of listaUnis; index as i">{{ uni.id }}</option>
            </select>
        </div>
    </div> -->
    <div class="d-flex justify-content-center">
        <div id="cabeceraUni">
            <h2>Universidad de Granada (UGR)</h2>
        </div>
    </div>
    <!-- <div id="seccionesBusqueda" class="d-flex justify-content-around">
        <button id="botonAsignaturas" class="col-1 btn btn-outline-info">Asignaturas</button>
        <button id="botonProfesores" class="col-1 btn btn-outline-info">Profesores</button>
    </div>
    <div id="divBusquedaLista" class="d-flex justify-content-center">
        <div id="divBuscar">
            <label id="labelBuscar" for="inputBuscar">Buscar</label>
            <input id="inputBuscar" class="form-control" type="text">
        </div>
        <button class="btn btn-primary align-self-end">Filtrar</button>
    </div> -->
    <div id="divLista">
        <ul class="list-group">
            
        </ul>
    </div>
</div>
