#cabeceraUni {
    margin-top: 5%;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
}

#selectUnis {
    width: 165px;
}

#divSelectorUni{
    margin-top: 4%;
}

#divTituloBuscar {
    margin-top: 3%;
}
