<div class="animated fadeIn ">
    <div id="divSelectUnis" class="d-flex justify-content-center col-1">
        <!-- <div class="row justify-content-center">
            <div id="faltanCosasBoton" class="col col-6">
                <a id="botonContacto" class="btn btn-warning rounded-pill align-self-center" (click)="dataService.getUnis()">Documentos</a>
            </div>
        </div> -->
        <select id="selectUnis" class="form-control col-1">
            <option *ngFor="let uni of dataService.listaUnis" (value)="uni">{{ uni }}</option>
        </select>
    </div>
    <div class="d-flex justify-content-center">
        <div id="cabeceraUni">
            <h2>Universidad de Granada (UGR)</h2>
        </div>
    </div>
    <div id="seccionesBusqueda" class="d-flex justify-content-around">
        <button id="botonAsignaturas" class="col-1 btn btn-outline-info">Asignaturas</button>
        <button id="botonProfesores" class="col-1 btn btn-outline-info">Profesores</button>
    </div>
    <div id="divBusquedaLista" class="d-flex justify-content-center">
        <div id="divBuscar">
            <label id="labelBuscar" for="inputBuscar">Buscar</label>
            <input id="inputBuscar" class="form-control" type="text">
        </div>
        <button class="btn btn-primary align-self-end">Filtrar</button>
    </div>
    <div id="divLista">
        <ul class="list-group">
            
        </ul>
    </div>
</div>
