<div id="contenido_inicio">
    <!-- insert the page content here -->
    <section id="intro">
      <h1>Bienvenido, aquí encontrarás los mejores consejos</h1>
      <h2>¿No sabes qué profesor escoger para una signatura?</h2>
      <p>Si alguna vez has dudado qué profesores escoger para alguna asignatura...
        quien hace la asignatura más amena, quien se porta mejor corrigiendo exámenes...
        o simplemente comparar fácilmente quién es el menos malo... ¡entonces estás en el sitio correcto!</p>
      <h2>¿Quieres saber qué asignatura te interesa más matricularte?</h2>
      <p>Quizás te hayas preguntado además qué asignatura resulta más interesante, sus contenidos,
        dificultad, formato de éxamenes... Aquí podrás consultar toda la información
        que necesitas.</p>
  
      <h2>¿Faltan asignaturas y profesores por indicar? ¡Escribe un correo!</h2>
      <p>En la sección de <a href="contacto">contacto</a> puedes mandar todas las dudas y sugerencias que quieras.</p>
    </section>
</div>
  