<div id="contenido_inicio">
  <!-- insert the page content here -->
  <section id="intro">
    <h1 class="titular">Bienvenido, aquí encontrarás los mejores consejos</h1>
  </section>
  <section id="escogerProfesor" class="row item">
    <div id="escogerProfesorImagen" class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <img src="/assets/img/escogerProfesor.jpeg" height="100%" width="70%">
    </div>
    <div id="escogerProfesorContenido" class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <h2 class="h2_sub_titular text-end">¿No sabes qué profesor escoger para una signatura?</h2>
      <p class="p_sub_titular text-end">Si alguna vez has dudado qué profesores escoger para alguna asignatura...
        quien hace la asignatura más amena, quien se porta mejor corrigiendo exámenes...
        o simplemente comparar fácilmente quién es el menos malo... ¡entonces estás en el sitio correcto!</p>
    </div>
  </section>
  <section id="escogerAsignatura" class="row item">
    <div id="escogerAsignaturaContenido" class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <h2 class="h2_sub_titular text-start">¿Quieres saber qué asignatura te interesa más matricularte?</h2>
      <p class="p_sub_titular text-start">Quizás te hayas preguntado además qué asignatura resulta más interesante, sus contenidos,
        dificultad, formato de éxamenes... Aquí podrás consultar toda la información
        que necesitas.</p>
    </div>
    <div id="escogerAsignaturaImagen" class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <img src="/assets/img/escogerAsignaturas.jpg" height="100%" width="80%">
    </div>
  </section>
  <section id="faltanCosas" class="row item">
    <h2 class="h2_sub_titular text-center">¿Faltan asignaturas y profesores por indicar? ¡Escribe un correo!</h2>
    <p class="p_sub_titular text-center">Si tu carrera universitaria no aparece o no encuentras alguna asignatura que quieres consultar, 
      puedes escribir un formulario en la sección de contacto y solicitarlo. También puedes mandar todas las dudas, comentarios y
      sugerencias que te surjan.</p>
  </section>
  <a id="botonContacto" class="btn btn-warning rounded-pill" href="/contacto" role="button">Contacto</a>
</div>
  