<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
        <h3>Gracias por registrarte</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
            <p class="text-center">Hemos enviado un email de confirmación a <strong>{{user.email}}</strong>.</p>
            <p class="text-center">Por favor, revisa tu email y pincha en el enlace de verificación</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
            <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar email de verificación
            </button>
        </div>
        </div>
        <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
        </div>
    </div>
</div>
  